@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
/* @font-face {
  font-family: 'CloisterBlack';
  src: url('./assets/font/CloisterBlackLight-axjg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
@plugin "daisyui" {
  themes: light --default;
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403F3F;
  --color-secondary: #D72050;
  --color-base: #9F9F9F;
  --color-base-200: #F3F3F3;
  --color-base-300: #E7E7E7;
  --color-accent: #706F8F;
  --color-accent-content: #403F3F;
}
@theme {
  --font-sans:  "Poppins", sans-serif;
   --font-gothic: 'CloisterBlack', serif;
  --breakpoint-3xs: 13.75rem;
  --breakpoint-2xs: 20rem;
  --breakpoint-xs:21.875rem;
  --breakpoint-sm: 30rem;
  --breakpoint-md: 47.9375rem;
  --breakpoint-lg: 61.875rem;
  --breakpoint-xlg: 64rem;
  --breakpoint-xl: 75rem;
  --breakpoint-2xl: 80rem;
  --breakpoint-3xl: 90rem;

   --animate-shutter: shutter 800ms cubic-bezier(0.77, 0, 0.18, 1) forwards;
    @keyframes shutter {
        0% {
            transform: scaleX(1);
        }

        100% {
            transform: scaleX(0);
        }
    }

}
@layer base {
  *{
    @apply m-0 p-0 box-border;
  }
  html{
    @apply w-full h-full scroll-smooth;
  }
  body{
    @apply w-full min-h-full font-sans capitalize;
  }
  img{
    @apply w-full h-full object-cover align-middle;
  }

}
@layer components{
  .primary-bg-gradient {
    @apply bg-gradient-to-r from-zinc-500 via-stone-400 to-slate-500;
  }

  .link-btn{
    @apply px-8 py-3.5 text-neutral-200 font-bold text-lg rounded-xl;
  }
}